html{
    height: 100%;
}
body{
    background-color: white;
    margin: 0;
    padding: 0;
    height: 100%;
}
header{
    background-color:#252525;
    color:white;

}
main{
    height:100%;
}
#videocontent{
    background-color: black;
    text-align: center;
    height: 70%;
}
#infovideo{
    float: left;
    width: 45%;
    background-color: wheat;
    height: 100%;
    margin-left: 10%;
    padding-top: 1.5em;
    padding-left: 1.5em;

}
#videocote{
    float: right;
    width: 30%;
    background-color: tomato;
    height: 100%;
    margin-right: 12%;
    padding-left: 1.5em;
    padding-top: 1.5em;
}
#entetevideo{
    padding-bottom: 1em;
    border-bottom: solid black 1px;
}